{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if show_my_tasks %}
                <div>
                    <a href="{% url 'create_task' %}">Create task</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for task in show_my_tasks %}
                        <tbody>
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date|date:"m/d/y" }}</td>
                                <td>{{ task.due_date|date:"m/d/y" }}</td>
                                <td>{{ task.is_complete|yesno:"yeah,no,maybe" }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
                {% else %}
                <p>You have no tasks</p>
                {% endif %}
            </div>
        </main>
    {% endblock content %}
